<h2 class="section-title">Monsters</h2>
<div class="search">
  <input
    type="text"
    placeholder="Find your monster"
    (input)="somethingChanged($event)"
  />
</div>
<div class="monsters">
  <app-monster
    *ngFor="let monster of monsters"
    [monster]="monster"
  ></app-monster>
</div>
