<h2 class="section-title">Create Monster</h2>
<div class="create">
  <form name="create" [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <div>
      <app-elemental-selector></app-elemental-selector>
    </div>
    <input
      type="text"
      formControlName="name"
      placeholder="Enter your Monster's name"
      #name
    />
    <div class="selects">
      <img src="../../assets/icons/attack.svg" alt="attack" class="attack" />

      <input type="number" formControlName="attack" min="0" #attack />
      <img src="../../assets/icons/defense.svg" alt="defense" class="defense" />
      <input type="number" formControlName="defense" min="0" #defense />
    </div>
    <button [disabled]="!createForm.valid" class="add">
      Add
    </button>
    <div *ngIf="!createForm.valid && createForm.touched">
      Please fill all to Add!
    </div>
  </form>
</div>
