* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

.monsters {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
}

.header img {
  width: 100px;
  margin-bottom: 20px;
}

h1 {
  text-transform: uppercase;
  margin-bottom: 40px;
}
