<div class="monsters">
  <div class="header">
    <img src="../assets/logo.svg" alt="monsters-logo" />
    <h1>Monsters</h1>
  </div>

  <app-create></app-create>

  <app-monsters></app-monsters>
</div>
