.monster {
  border: 1px solid #000;
  display: flex;
  flex-wrap: wrap;
}

.monster-col {
  display: flex;
  flex-direction: column;
}

.monster-row {
  display: flex;
  flex-direction: row;
}

.trash-div {
  width: 30px;
  padding: 10px;
  margin-left: auto;
  align-self: center;
}

.attack,
.defense {
  width: 20px;
  padding-right: 5px;
}

.elemental-div {
  padding: 10px;
  width: 50px;
  align-self: center;
}

.break {
  padding: 10px;
}

.name {
  padding-left: 10px;
}
