<div class="monster">
  <div class="elemental-div">
    <img src="{{ monster.img }}" alt="elemental" class="elemental" />
  </div>
  <div class="monster-col">
    <div class="name">
      <p>{{ monster.name }}</p>
    </div>
    <div class="monster-row">
      <div class="break">
        <img src="/assets/icons/attack.svg" alt="attack" class="attack" />{{
          monster.attack
        }}
      </div>

      <div class="break">
        <img src="/assets/icons/defense.svg" alt="defense" class="defense" />{{
          monster.defense
        }}
      </div>
    </div>
  </div>
  <div class="trash-div">
    <img
      src="../../assets/icons/trash-can.svg"
      alt="trash"
      class="trash"
      (click)="onRemoveMonster()"
    />
  </div>
</div>
